Привет, {{ first_name }}! На связи PR-BAND! Мы предоставляем услуги в сфере здоровья!

Теперь ты можешь добавить продукт в имеющиеся у нас категории!
Пример команды /addproduct;Волейбол;тренер Владимир
