Привет, {{ first_name }}! На связи PR-BAND! Мы предоставляем услуги в сфере здоровья!


Чтобы посмотреть категории для деятельности, напиши команду:

/getcategories


Теперь ты можешь добавить продукт в имеющиеся у нас категории!
Пример команды: /addproduct;массаж;мастер Владимир


Можно заполнить слоты расписания временем, в которое ты готов поработать!
Пример команды: /addslot чт 13:00-14:00


Можно получить список всех услуг мастера!
пример команды: /getslot "day":"2023-04-05"


