Привет, {{ first_name }}! На связи PR-BAND! Мы предоставляем услуги в сфере здоровья!


Чтобы посмотреть категории для деятельности, напиши команду:

/getcategories


Теперь ты можешь добавить продукт в имеющиеся у нас категории!
Пример команды: /addproduct;массаж;мастер Владимир


Можно посмотреть все имеющиеся продукты
Пример команды: /getproducts


Можно составить шаблон твоего расписания, дни недели и часы в которое ты готов поработать!!
Пример команды: /addslot чт 13:00-14:00


Можно составить действующее расписание на конкретную дату, которое увидит клиент!
пример команды: /addslotsbyday 2023-04-27


